.homeBedCrump {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11.5vmin;
}

.bedCrumpLogo {
  margin-left: 5vmin;
}

.homeCartButton > button {
  margin-right: 4vmin;
  width: 25vmin;
  height: 5.08vmin;
  border-radius: 6.4vmin;
  background-color: #1d7000;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.homeCartButton > button > img {
  vertical-align: middle;
}
.homePoster {
  text-align: center;
}
.homePoster > img:nth-child(1) {
  width: 185vmin;
  height: 25vmin;
  margin-top: 3vmin;
}
.homePoster > img:nth-child(2) {
  position: absolute;
  width: 45vmin;
  height: 30vmin;
  top: 19.5vmin;
  left: 150vmin;
}
.homePoster > img:nth-child(3) {
  position: absolute;
  width: 60vmin;
  top: 28vmin;
  left: 20vmin;
}
.homePoster > img:nth-child(4) {
  position: absolute;
  width: 20vmin;
  top: 43vmin;
  left: 20vmin;
}

.homeSearchBar > input {
  width: 185vmin;
  height: 6vmin;
  margin-top: 3vmin;
  margin-right: 3vmin;
  border-radius: 6.53vmin;
  border: 3px solid #c8c8c8;

  font-size: 2.5vmin;
  font-weight: 400;
  line-height: 0vmin;
  letter-spacing: 0em;
  text-indent: 8vmin;
  text-align: left;
  color: #000;
}
.homeSearchBar > input::placeholder {
  font-family: Roboto;
  font-size: 2.5vmin;
  font-weight: 400;
  line-height: 0vmin;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}

.homeSearchBar > img {
  position: relative;
  width: 4vmin;
  top: 1.5vmin;
  left: 8vmin;
}

.homeFilters {
  display: flex;
  margin-top: 4vmin;
  justify-content: space-evenly;
  align-items: center;
}
.homeViews {
  display: flex;
  width: 50vmin;
  margin-left: 10vmin;
}
.homeListView {
  width: 6vmin;
  margin-left: 1vmin;
  cursor: pointer;
}
.homeGridView {
  width: 6vmin;
  cursor: pointer;
}
.gridBox1 {
  display: inline-block;
  width: 1.8vmin;
  height: 1.8vmin;
  border: 2px solid black;
  border-radius: 3px;
}
.gridBox2 {
  margin-left: 0.5vmin;
  display: inline-block;
  width: 1.8vmin;
  height: 1.8vmin;
  border: 2px solid black;
  border-radius: 3px;
}
.gridBox3 {
  display: inline-block;
  width: 1.8vmin;
  height: 1.8vmin;
  border: 2px solid black;
  border-radius: 3px;
}
.gridBox4 {
  margin-left: 0.5vmin;
  display: inline-block;
  width: 1.8vmin;
  height: 1.8vmin;
  border: 2px solid black;
  border-radius: 3px;
}
.listBox {
  line-height: 0.8;
}
.listBox1 {
  display: inline-block;
  width: 1vmin;
  height: 1vmin;
  border: 2px solid black;
  border-radius: 3px;
}
.listBox2 {
  margin-left: 0.2vmin;
  display: inline-block;
  width: 3vmin;
  height: 1vmin;
  border: 2px solid black;
  border-radius: 3px;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vmin;
  margin-right: 12vmin;
}

.filters > select {
  appearance: none;
  overflow: hidden;
  text-align: left;
}
.filters > select > option {
  background-color: #fff;
}

.filterType1 {
  padding-left: 3vmin;
  padding-right: 5vmin;
  height: 5vmin;
  background-image: url("../../assets/dropdown_arrow.svg");
  background-repeat: no-repeat;
  background-position: 30vmin 2vmin;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 4.63vmin;
  border: none;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.arrow1 {
  background-position: 16vmin 2vmin;
  margin-left: 3vmin;
}
.arrow2 {
  background-position: 15vmin 2vmin;
  margin-left: 3vmin;
}
.arrow3 {
  background-position: 25vmin 2vmin;
  margin-left: 3vmin;
}
.sortFilter {
  padding-left: 3vmin;
  padding-right: 5vmin;
  height: 5vmin;
  background-image: url("../../assets/dropdown_arrow.svg");
  background-repeat: no-repeat;
  background-position: 21vmin 1.8vmin;
  cursor: pointer;
  margin-left: 23vmin;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4.63vmin;
  border: 3px solid #e1e1e1;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.EmptyProd {
  margin-left: 10vmin;
  font-size: 5vmin;
  font-family: Roboto;
  line-height: 2vmin;
  text-align: center;
  color: #b82121;
}
