.registerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vmin;
}
.registerLogo > p {
  margin-left: 1vmin;
  font-family: Roboto;
  font-size: 2.99vmin;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0em;
  text-align: left;
  color: #2e0052;
}
.registerLogo > img {
  vertical-align: middle;
  width: 8.58vmin;
  height: 8.58vmin;
}

.registerOutline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vmin;
}

.registerBoxBorder {
  text-align: center;
  border-radius: 3.26vmin;
  border: 3px solid #d9d9d9;
  width: 60vmin;
  height: 75vmin;
}
.registerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vmin;
}
.registerBox > div:nth-child(1) {
  line-height: 0vmin;
}
.createAccText {
  width: 50vmin;
  font-family: Roboto;
  font-size: 3.97vmin;
  font-weight: 400;
  line-height: 0vmin;
  letter-spacing: 0em;
  text-align: left;
}
.registerText > label {
  display: block;
  margin-top: 1vmin;
  margin-left: 1vmin;
  font-family: Roboto;
  font-size: 1.9vmin;
  font-weight: 600;
  line-height: 3.54vmin;
  letter-spacing: 0em;
  text-align: left;
}
.registerText > input {
  width: 50vmin;
  height: 4vmin;
  border-radius: 1.08vmin;
  border: 2px solid #b6b6b6;
}

.registerDesc {
  width: 50vmin;
  font-family: Roboto;
  font-size: 1.5vmin;
  font-weight: 600;
  line-height: 2.8vmin;
  letter-spacing: 0em;
  text-align: left;
}
.registerBox > button {
  width: 52vmin;
  height: 5vmin;
  border-radius: 8px;
  margin-top: 0vmin;
  color: #fff;
  background-color: #2e0052;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 3vmin;
  font-weight: 500;
  line-height: 2.3vmin;
  letter-spacing: 0em;
  text-align: center;
}
.registerCond {
  width: 50vmin;
  font-family: Roboto;
  font-size: 1.55vmin;
  font-weight: 400;
  line-height: 3.54vmin;
  letter-spacing: 0em;
  text-align: left;
}
.signInText {
  font-family: Roboto;
  font-size: 2.4vmin;
  font-weight: 600;
  line-height: 4.35vmin;
  letter-spacing: 0em;
  text-align: center;
}
.signInText > span {
  cursor: pointer;
  font-weight: 400;
  text-decoration: underline;
}
.invalid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3vmin;
  font-family: Roboto;
  font-size: 2vmin;
  font-weight: 500;
  line-height: 0vmin;
  text-align: center;
  color: #f81221;
}
@media only screen and (max-width: 391px) {
  .welComeTxt {
    margin-top: 20vmin;
    margin-left: 8vmin;
    font-family: Roboto;
    font-size: 10vmin;
    font-weight: 400;
    line-height: 4vmin;
    letter-spacing: 0em;
    text-align: left;
    color: #2e0052;
  }

  .registerBoxBorder {
    width: 85vmin;
    height: 110vmin;
  }
  .registerBox {
    height: fit-content;
  }
  .createAccText {
    margin-top: 5vmin;
    width: 80vmin;
    font-size: 4.5vmin;
    font-weight: 600;
    line-height: 1vmin;
    text-align: left;
    line-height: 0vmin;
  }
  .createAccText > span {
    font-family: Roboto;
    font-size: 4vmin;
    font-weight: 300;
    line-height: 0vmin;
    letter-spacing: 0em;
    text-align: left;
  }
  .registerText > label {
    font-size: 3.5vmin;
    margin-top: 3vmin;
    line-height: 6vmin;
  }
  .registerText > input {
    width: 75vmin;
    height: 6vmin;
  }
  .registerDesc {
    width: 70vmin;
    font-size: 2.3vmin;
  }
  .registerBox > button {
    width: 75vmin;
    height: 10vmin;
    font-size: 4.5vmin;
  }
  .registerCond {
    width: 70vmin;
    font-size: 2.3vmin;
  }
  .signInText {
    font-size: 3vmin;
    font-weight: 700;
  }
  .invalid {
    font-size: 2.5vmin;
  }
}
