.bedCrums {
  display: flex;
  height: 10vmin;
  cursor: pointer;
  
  align-items: center;
}

.logoText {
  margin-left: 1vmin;
  font-family: Roboto;
  font-size: 5.99vmin;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0em;
  text-align: left;
  color: #2e0052;
}

.bedCrums > img {
  vertical-align: middle;
  width: 8.58vmin;
  height: 8.58vmin;
  
}
.bedCrumsText {
  
  margin-left: 2vmin;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 2.54vmin;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0em;
  text-align: left;
}
.bedCrumsText > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.bedCrumsText > li {
  display: flex;
  align-items: center;
}
.bedCrumsText > span {
  margin: 0 5px;
}

@media only screen and (max-width: 391px) {
  .logoText {
    margin-left: 1vmin;
    font-family: Roboto;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
}
