.header {
  position: fixed;
  width: 100%;
  top: 0vmin;
  height: 7.629vmin;
  display: flex;
  background-color: #2e0052;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.312rem;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.header > p:nth-child(1) {
  margin-left: 2rem;
}
.header > p:nth-child(1) > img {
  vertical-align: middle;
}
.header > p:nth-child(3) {
  margin-right: 2rem;
  cursor: pointer;
}
.logedOutTxt {
  display: flex;
  margin-right: 3vmin;
}
.logedOutTxt > p {
  cursor: pointer;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.312rem;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
@media only screen and (max-width: 391px) {
  .logo {
    margin-left: 5vmin;
  }
  .header {
    height: 12.2vmin;
  }
}
