.mobileNav{
    position: fixed;
    top:170vmin;
    border: .3vmin solid #CECECE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .navImg{
    width: 20vmin;
    height: 20vmin;
}
.lineBar{

} */