.appLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vmin;
}
.appLogo > div:nth-child(1) {
  margin-left: 5vmin;
}
.orderPlaced {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vmin;
}
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vmin;
  height: 60vmin;

  border: 0.4vmin solid #e3e3e3;
  border-radius: 1.49vmin;
  box-shadow: 1.9vmin 2.17vmin 3.13vmin 0.27vmin rgba(0, 0, 0, 0.11);
}

.success > div > p:nth-child(1) {
  font-family: Roboto;
  font-size: 3.8vmin;
  font-weight: 600;
  line-height: 1.5vmin;
  letter-spacing: 0em;
  text-align: center;
}
.success > div > p:nth-child(2) {
  font-family: Roboto;
  font-size: 2.8vmin;
  font-weight: 500;
  line-height: 1vmin;
  letter-spacing: 0em;
  text-align: center;
  color: #969696;
}
.success > button {
  width: 50vmin;
  height: 6.2vmin;
  border: none;
  border-radius: 2vmin;
  background-color: #2e0052;
  margin-top: 4vmin;
  cursor: pointer;

  font-family: Roboto;
  font-size: 3vmin;
  font-weight: 500;
  line-height: 1.5vmin;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
